.advanced-search {
    position: fixed;
    top: 75px;
    left: 0px;
    bottom: 0px;
    background-color: #AFD3E2;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 0px;
    width: calc(25% - 40px); 
    max-width: 300px;
    z-index: 1;
}

.advanced-search label {
    display: block;
    margin-bottom: 10px;
}

.advanced-search input[type="text"],
.advanced-search button {
    padding: 8px;
    margin-bottom: 10px;
    width: 100%;
}

.advanced-search button {
    background-color: #146C94;
    color: white;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    width: 30%;
}

.advanced-search button:hover {
    background-color: #0056b3;
}

.navbar h1 {
    color: white;
    padding-right: 260px;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin-top: 130px;
    position: absolute;
    left: 450px;
    z-index: 0;
}

table th,
table td {
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
}

table th {
    background-color: #f2f2f2;
}

table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}