body{
    background-color: #F6F1F1;
}

.List_header{
    display: flex;
    align-items: center;
}

select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-radius: 8px;
}


h1{
    margin-right: 10px;
}

.ListView{
    margin-top: 100px;
    padding-left: 30px;
    padding-right: 30px; 
    padding-bottom: 30px;
    background-color: #F6F1F1;
}

.loan_container {
    display: flex;
    background-color: #AFD3E2;
    margin-top: 20px;
}

.company_logo{
    max-width: 20%;
    height: 100px;
    margin-right: 10px;
}

.lender_name{
    font-size: 36px;
}

.column {
    flex: 1;
    padding: 10px;
}

.centered_column {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row_value {
    text-align: center;
    font-size: 24px;
    font-weight: 800;
}

.row {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

h3{
    text-align: center;
}

p{
    font-size: 18px;
}

/* #details{
    justify-content: center;
    padding-left: 10px;
} */

button {
    background-color: #146C94;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover{
    background-color: #19A7CE;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
    transition: display 0.3s ease;
}

.button-container {
    margin-top: 10px;
    text-align: center; 
}

button{
    min-width: 200px
}

#colProgress{
    align-items: center;
}

.circular-progress {
    position: relative;
    width: 150px;
    height: 150px;
  }
  
  .progress-bar {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #e0e0e0; /* Set the background color of the progress bar */
    overflow: hidden;
  }
  
  .progress {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #19A7CE; /* Set the color of the progress */
    clip: rect(0, 50%, 100%, 0);
  }
  
  .progress-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    clip: rect(0, 100%, 100%, 50%);
  }
  
  .progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 12px;
  }
  
  /* Add animation for the progress */
  @keyframes fillProgress {
    to {
      transform: rotate(180deg);
    }
  }
  
  .progress-bar {
    animation: fillProgress 2s ease-out forwards; 
  }
  
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
    transition: display 0.3s ease;
  }

  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    margin-top: 10px;
}

input[type="number"], input[type="text"], input[type="file"]
select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.form-item {
    flex: 1;
    margin-right: 20px; /* Adjust the margin as needed */
}

.info-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.info-item {
    flex: 1;
    margin-right: 10px;
}

h2{
    text-align: center;
}

#modalHeader{
    display:contents;
}